.home {
    padding-top: 5rem;

    &__container {
        row-gap: 2.5rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;

        span {
            color: var(--primary-color);
        }
    }

    &__description {
        margin-bottom: 2rem;
    }
}