.services {
    &__container {
        padding-top: 1rem;
    }

    &__info {
        display: grid;
        row-gap: 1rem;
        background: var(--container-color);
        box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
        text-align: center;
        padding: 2rem 1.5rem;
        border-radius: 1rem
    }

    &__icon {
        font-size: 3rem;
        color: var(--primary-color);
    }
}